{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>User Registration</title>
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
</head>
<body>

<div class="header">
    NGO Authentication System
</div>

<div class="container">
    <h2>Register</h2>

    <form method="post">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Username" required>

        <input type="email" name="email" placeholder="Email" required>

        <input type="password" name="password" placeholder="Password" required>

        <select name="role" required>
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select>

        <button type="submit">Register</button>
    </form>

    <p>
        Already have an account?
        <a href="/">Login</a>
    </p>
</div>


</body>
</html>
